<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delve</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      * { box-sizing: border-box; margin: 0; padding: 0; }
      html, body { width: 100%; height: 100%; overflow: hidden; background: #000; }
    </style>
  </head>
  <body>
    <%= yield %>
    <script type="module" src="/client/main.js"></script>
  </body>
</html>
